[package]
name = "teawiebot"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bottomify = "1.2.0"
include_dir = "0.7.3"
rand = "0.8.5"
reqwest = { version = "0.11.16", default-features = false, features = ["rustls-tls", "json"] }
serde = "1.0.159"
serenity = "0.11.5"
tokio = { version = "1.27.0", features = ["macros", "rt-multi-thread"] }
