name: Update flake.lock

on:
  schedule:
    # run every saturday
    - cron: "0 0 * * 6"
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v9

      - name: Update lockfile & make PR
        uses: DeterminateSystems/update-flake-lock@v20
        id: update
        with:
          commit-msg: "flake: update inputs"
          pr-title: "flake: update inputs"
          token: ${{ secrets.MERGE_TOKEN }}

      - name: Enable auto-merge
        shell: bash
        run: gh pr merge --auto --rebase "$PR_ID"
        env:
          GH_TOKEN: ${{ secrets.MERGE_TOKEN }}
          PR_ID: ${{ steps.update.outputs.pull-request-number }}
